@page
@using c2p0.Lib.Models;
@model c2p0.Web.Pages.AgentsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Agent</th>
            <th scope="col">Listener</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IAgent agent in ViewData["agents"] as List<IAgent>)
        {
            <tr>
                <td><a href="/Agents/@agent.AgentGuid">@agent.AgentGuid</a></td>
                <td>@agent.ListenerGuid</td>
            </tr>
        }
    </tbody>
</table>
