@page
@using c2p0.Lib.Interfaces;
@using c2p0.Lib.Models;
@model ListenersModel
@{
    
}

<div class="text-center">
    <h1 class="display-4">Listeners</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-page-handler="create" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="name" aria-describedby="help">
                            <div id="helper" class="form-text">Brief name to identify the listener</div>
                        </div>
                        <div class="mb-3">
                            <label for="port" class="form-label">Port</label>
                            <input type="number" class="form-control" name="port" id="port">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Guid</th>
                <th scope="col">Name</th>
                <th scope="col">Port</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (IListener listener in ViewData["listeners"] as List<IListener>)
            {
                <tr>
                    <td>@listener.ListenerGuid</td>
                    <td>@listener.Name</td>
                    <td>@listener.Port</td>
                    <td>@if (listener.Running){
                            <span class="badge bg-success">UP</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">DOWN</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
